[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git 
[submodule "public"]
	path = public
	url = git@github.com:asalber/asalber.github.io.git
	branch = master
